################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GamJam-CPT/FileContentIndex/5dc09a08-2e92-4328-b6a0-f46169943946.vsidx
/.vs/GamJam-CPT/FileContentIndex/e3913b44-53fc-4a0e-875c-d844a494dd83.vsidx
/.vs/GamJam-CPT/FileContentIndex/cf4e28c3-109d-4a36-9fac-fbb339ed64c9.vsidx
/.vs/GamJam-CPT/FileContentIndex/28bdccf6-4ed9-48de-9dd0-e85f2a38dca9.vsidx
/.vs/GamJam-CPT/FileContentIndex
